.myphoto{

    border-radius: 100%;
    width: 30%;
    
    margin: 100px auto 0px auto;
    
    
}
.firstbox{


}
.nametag{
    
    

}
.wrap {
    width: 100%;
}

.floatleft {
    float:left; 
    width: 50%;
    background-color: #86d6c69a;

    text-align: center;
    height: 600px;
}

.floatright {
float: right;
    
    background-color: #93e3cef0;
    height: 600px;
    width: 50%;
}


.btn {
    background: #0f0f0f;
    background-image: -webkit-linear-gradient(top, #0f0f0f, #010305);
    background-image: -moz-linear-gradient(top, #0f0f0f, #010305);
    background-image: -ms-linear-gradient(top, #0f0f0f, #010305);
    background-image: -o-linear-gradient(top, #0f0f0f, #010305);
    background-image: linear-gradient(to bottom, #0f0f0f, #010305);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 9px 40px 9px 40px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #979899;
    background-image: -webkit-linear-gradient(top, #979899, #464a4d);
    background-image: -moz-linear-gradient(top, #979899, #464a4d);
    background-image: -ms-linear-gradient(top, #979899, #464a4d);
    background-image: -o-linear-gradient(top, #979899, #464a4d);
    background-image: linear-gradient(to bottom, #979899, #464a4d);
    text-decoration: none;
  }
.button{
    margin-top: 40px;
}
.button1{


    width: 40%;
    
    position: absolute;
    margin: 10px auto auto 0px;
    
    
    
}
.pp{

    margin: 100px auto auto auto;
    float: right;
    padding-left: 50px;
    
}

.qq{
    float: left;
    margin: 100px auto auto 120px;
}
.aboutself{
    width: 60%;
    margin: 0px auto auto 120px;
    text-align: centre;
    font-size: 1.2rem;
}
.about{
    margin: 30px auto auto 100px;
}
.tital{
    margin: 120px auto auto 20px;
}
.icon{

    text-align: center;

    margin: 50px auto auto 170px;

    

    width: 300px;

    size: 5px;
    
}
.icons{

    padding-left: 10px;
    padding-right: 10px;

    
    
}
.icons2{

    padding-left: 10px;

}
.icons3{

    padding-left: 10px;
    
}
.icons4{

    padding-left: 10px;
    
}
hr{
    border: dotted #909d9d 2px;
    width: 25%;
    border-bottom: none;
    margin: 5px auto;}
h3{
    font-size: 1rem;
}